@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Poiret+One&family=Work+Sans:wght@400;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
        min-height: 100vh;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
    background-color: #dbdbdb;
    font-family: 'Lora', serif;
}
nav{
    background-color: white;
    
}
.title{
    text-align: center;
    margin-top: 2rem;
}
.title p{
    margin-top: 1rem;
    color: #5f5f5f;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
}
form{
    background-color: rgb(0, 44, 50);
    height: fit-content;
    width: 40rem;
    margin: 0 auto;
    border-radius: 1rem;
    margin-top: 3rem;
    padding: 3rem;
    justify-content: center;
        text-align: left;
       
  
}
input,.select-selected{
   
        width: 34rem;
        height: 1.8rem;
        border: 0 solid rgba(255, 255, 255, 0.459);
        border-radius: 0.5rem;
        background-color: rgba(255, 255, 255, 0.459);
        padding: 0.5rem;
        justify-content: center;
        margin: auto;
        color: rgb(0, 0, 0);
        margin-top: 0.5rem;
    
}
.select-selected{
    padding-top: 0.2rem !important
}
input:focus {
    outline: none;
}

label {
font-weight: 800;
color: white;

}

input.invalid {
    background-color: #ffdddd;
}
.tab {
    display: none;
}

.tab p{
    margin-bottom: 1rem;
    color: white;
}
.tab-grid{
    display: grid;
    grid-template-columns: auto auto auto;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(0, 44, 50, 0.527);
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: rgb(0, 44, 50);
    opacity: 3;
}

#prevBtn {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #6b6b6b;
    color: white;
    margin-bottom: 5rem;
}

#nextBtn {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: rgb(0, 44, 50);
    color: white;
    margin-bottom: 5rem;
}

.forgot_password a {
    color: rgb(131, 130, 130);
    text-decoration: none;

}
.buttons{
    margin-top: 3rem;
    margin-right: 15rem;
  
}
.forgot_password {
    text-align: right;
}

.forgot_password a:hover {
    color: #04AA6D;
}

.submit {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #04AA6D;
    color: white;
    width: 500px;
    height: 35px;
    cursor: pointer;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.custom-select {
    position: relative;

}

.custom-select p{
    margin-top: -10rem;
}
   

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid black;
    border-color: rgb(0, 0, 0) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent rgb(0, 0, 0) transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div
 {
    color: #000000;
    padding: 8px 16px;
    /* border: 0.5px solid;
    border-color: rgb(194, 193, 193); */
    border-radius: 3rem;
    cursor: pointer;
    user-select: none;
   
}

.select-items div {
    /* border-color: rgba(255, 255, 255, 0.459);; */
    color: rgb(255, 255, 255);
   
}

/*style items (options):*/
.select-items {
    position: absolute;
    color: rgb(255, 255, 255);
background-color: rgba(0, 0, 0);
border-radius: 0.5rem;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.tab h1 {
    text-align: center;
}

.slidecontainer {
    width: 100%;
    /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #04AA6D;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #04AA6D;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.form-control {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #adadad;
     display: grid;
    grid-template-columns: 1rem auto;
    gap: 1rem;
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #758d90;
    /* Not removed via appearance */
    margin: 0;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #758d90;
    margin: 0;
    font: inherit;
    color:currentColor;
    width: 1.15rem;
    height: 1.15rem;
    border: 0.01rem solid #758d90;
    border-radius: 0.1rem;
    transform: translateY(-0.075em);
}

.form-control+.form-control {
    margin-top: 1em;
}

input[type="checkbox"] {
    /* ...existing styles */

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"] {
    /* ...existing styles */
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]::before {
    /* ...existing styles */

    /* Windows High Contrast Mode */
    background-color: #000000;
    border-radius: 0.1rem;
    width: 0.8rem;
    height: 0.8rem;
}

.wrapper, .wrapperone {
    display: inline-flex;
    background: rgba(255, 255, 255, 0);
    height: fit-content;
    width: 9rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px 15px;
    margin-left:-1rem ;
    
}

.wrapper label, .wrapperone label{
    margin-bottom: 0.3rem;
}

.wrapper .option, .wrapperone .option {
    background: #fff;
    /* height: 100%; */
    
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
   column-gap: 1rem;
    /* margin: 0 10px; */
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    
    transition: all 0.3s ease;
}

.wrapper .option .dot, .wrapperone .option .dot{
    height: 1rem;
        width: 1rem;
    background: #758d90;
    border-radius: 50%;
    position: relative;
   
}

.wrapper .option .dot::before, .wrapperone .option .dot::before {
    position: absolute;
    content: "";
    /* top: 0.5rem;
    */
    top: 0.1rem;
    left: 0.1rem;
    height: 0.8rem;
        width: 0.8rem;
    background: #000000;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

input[type="radio"] {
    display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2, 
#option-3:checked:checked~.option-3,
#option-4:checked:checked~.option-4,
#option-5:checked:checked~.option-5,
#option-6:checked:checked~.option-6,
#option-7:checked:checked~.option-7,
#option-8:checked:checked~.option-8,
#option-9:checked:checked~.option-9,
#option-10:checked:checked~.option-10,
#option-11:checked:checked~.option-11,
#option-12:checked:checked~.option-12,
#option-13:checked:checked~.option-13,
#option-14:checked:checked~.option-14,
#option-15:checked:checked~.option-15,
#option-16:checked:checked~.option-16,
#option-17:checked:checked~.option-17,
#option-18:checked:checked~.option-18,
#option-19:checked:checked~.option-19,
#option-20:checked:checked~.option-20,
#option-21:checked:checked~.option-21,
#option-22:checked:checked~.option-22,
#option-23:checked:checked~.option-23,
#option-24:checked:checked~.option-24,
#option-25:checked:checked~.option-25,
#option-26:checked:checked~.option-26,
#option-27:checked:checked~.option-27,
#option-28:checked:checked~.option-28,
#option-29:checked:checked~.option-29,
#option-30:checked:checked~.option-30,
#option-31:checked:checked~.option-31,
#option-32:checked:checked~.option-32,
#option-33:checked:checked~.option-33,
#option-34:checked:checked~.option-34,
#option-35:checked:checked~.option-35,
#option-36:checked:checked~.option-36
{
    border-color: #000000;
    background: #000000;
}

#option-1:checked:checked~.option-1.dot,
#option-2:checked:checked~.option-2.dot,
#option-3:checked:checked~.option-3.dot,
#option-4:checked:checked~.option-4.dot,
#option-5:checked:checked~.option-5.dot,
#option-6:checked:checked~.option-6.dot,
#option-7:checked:checked~.option-7.dot,
#option-8:checked:checked~.option-8.dot,
#option-9:checked:checked~.option-9.dot,
#option-10:checked:checked~.option-10.dot,
#option-11:checked:checked~.option-11.dot,
#option-12:checked:checked~.option-12.dot,
#option-13:checked:checked~.option-13.dot,
#option-14:checked:checked~.option-14.dot,
#option-15:checked:checked~.option-15.dot,
#option-16:checked:checked~.option-16.dot,
#option-17:checked:checked~.option-17.dot,
#option-18:checked:checked~.option-18.dot,
#option-19:checked:checked~.option-19.dot,
#option-20:checked:checked~.option-20.dot,
#option-21:checked:checked~.option-21.dot,
#option-22:checked:checked~.option-22.dot,
#option-23:checked:checked~.option-23.dot,
#option-24:checked:checked~.option-24.dot,
#option-25:checked:checked~.option-25.dot,
#option-26:checked:checked~.option-26.dot,
#option-27:checked:checked~.option-27.dot,
#option-28:checked:checked~.option-28.dot,
#option-29:checked:checked~.option-29.dot,
#option-30:checked:checked~.option-30.dot,
#option-31:checked:checked~.option-31.dot,
#option-32:checked:checked~.option-32.dot,
#option-33:checked:checked~.option-33.dot,
#option-34:checked:checked~.option-34.dot,
#option-35:checked:checked~.option-35.dot,
#option-36:checked:checked~.option-36.dot
{

    background: #fff;
}

#option-1:checked:checked~.option-1.dot::before,
#option-2:checked:checked~.option-2.dot::before,
#option-3:checked:checked~.option-3.dot::before,
#option-4:checked:checked~.option-4.dot::before,
#option-5:checked:checked~.option-5.dot::before,
#option-6:checked:checked~.option-6.dot::before,
#option-7:checked:checked~.option-7.dot::before,
#option-8:checked:checked~.option-8.dot::before,
#option-9:checked:checked~.option-9.dot::before,
#option-10:checked:checked~.option-10.dot::before,
#option-11:checked:checked~.option-11.dot::before,
#option-12:checked:checked~.option-12.dot::before,
#option-13:checked:checked~.option-13.dot::before,
#option-14:checked:checked~.option-14.dot::before,
#option-15:checked:checked~.option-15.dot::before,
#option-16:checked:checked~.option-16.dot::before,
#option-16:checked:checked~.option-16.dot::before,
#option-17:checked:checked~.option-17.dot::before ,
#option-18:checked:checked~.option-18.dot::before,
#option-19:checked:checked~.option-19.dot::before,
#option-20:checked:checked~.option-20.dot::before,
#option-21:checked:checked~.option-21.dot::before,
#option-22:checked:checked~.option-22.dot::before,
#option-23:checked:checked~.option-23.dot::before,
#option-24:checked:checked~.option-24.dot::before,
#option-25:checked:checked~.option-25.dot::before,
#option-26:checked:checked~.option-26.dot::before,
#option-27:checked:checked~.option-27.dot::before,
#option-28:checked:checked~.option-28.dot::before,
#option-29:checked:checked~.option-29.dot::before,
#option-30:checked:checked~.option-30.dot::before,
#option-31:checked:checked~.option-31.dot::before,
#option-32:checked:checked~.option-32.dot::before,
#option-33:checked:checked~.option-33.dot::before,
#option-34:checked:checked~.option-34.dot::before,
#option-35:checked:checked~.option-35.dot::before,
#option-36:checked:checked~.option-36.dot::before
 {
    opacity: 1;
    transform: scale(1);
}

.wrapper .option span,.wrapperone .option span {
  
    font-size: 0.8rem;
    color: #808080;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span,
#option-3:checked:checked~.option-3 span,
#option-4:checked:checked~.option-4 span,
#option-5:checked:checked~.option-5 span,
#option-6:checked:checked~.option-6 span,
#option-7:checked:checked~.option-7 span,
#option-8:checked:checked~.option-8 span,
#option-9:checked:checked~.option-9 span,
#option-10:checked:checked~.option-10 span,
#option-11:checked:checked~.option-11 span,
#option-12:checked:checked~.option-12 span,
#option-13:checked:checked~.option-13 span,
#option-14:checked:checked~.option-14 span,
#option-15:checked:checked~.option-15 span,
#option-16:checked:checked~.option-16 span,
#option-17:checked:checked~.option-17 span,
#option-18:checked:checked~.option-18 span,
#option-19:checked:checked~.option-19 span,
#option-20:checked:checked~.option-20 span,
#option-21:checked:checked~.option-21 span,
#option-22:checked:checked~.option-22 span,
#option-24:checked:checked~.option-24 span,
#option-25:checked:checked~.option-25 span,
#option-26:checked:checked~.option-26 span,
#option-27:checked:checked~.option-27 span,
#option-28:checked:checked~.option-28 span,
#option-29:checked:checked~.option-29 span,
#option-30:checked:checked~.option-30 span,
#option-31:checked:checked~.option-31 span,
#option-32:checked:checked~.option-32 span,
#option-33:checked:checked~.option-33 span,
#option-34:checked:checked~.option-34 span,
#option-35:checked:checked~.option-35 span,
#option-36:checked:checked~.option-36 span
 {
    color: #fff;
}

textarea{
    width: 34rem;
        height: 3rem;
        border: 0 solid rgba(255, 255, 255, 0.459);
        border-radius: 0.5rem;
        background-color: rgba(255, 255, 255, 0.459);
        padding: 0.5rem;
        justify-content: center;
        margin: auto;
        color: rgb(0, 0, 0);
        margin-top: 0.5rem;
}

#text-five label{
    font-weight: 400;
   width: 100rem;
   white-space: nowrap;
   color: #adadad;
}